@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  overflow-anchor: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid rgba(17, 17, 19, 0.05);
  box-shadow: 2px 4px 7px 0px #0000001a;
}

.menu {
  display: none;
}

.menu input {
  display: none;
}

.menu label {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 50vw;
  height: 50vw;
  max-width: 75px;
  max-height: 75px;
  left: 0;
  top: 0;
}

.menu .line--1,
.menu .line--3 {
  --total-length: 126.38166809082031;
}

.menu .line--2 {
  --total-length: 80;
}

.menu input:checked + svg .line--1,
.menu input:checked + svg .line--3 {
  --offset: -109.1770175568;
}

.menu circle {
  fill: #fff3;
  opacity: 0;
  transition: .1s linear;
}

.menu label:hover circle {
  opacity: 1;
}

.menu input:checked + svg .line--1,
.menu input:checked + svg .line--3 {
  --length: 8.602325267;
}

.menu .debug {
  display: none;
}

.menu path {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu .cross input:checked + svg .line--1,
.menu .cross input:checked + svg .line--3 {
  --length: 22.627416998;
}

.menu .cross input:checked + svg .line--2 {
  --length: 0;
}

.menu .cross input:checked + svg .line--1,
.menu .cross input:checked + svg .line--3 {
  --length: 22.627416998;
}

.menu .cross input:checked + svg .line--2 {
  --length: 0;
}

.logo {
  padding: 0 15px;
  width: 210px;
  border-right: 1px solid rgba(17, 17, 19, 0.05);
  background-color: #fff;
  height: 100%;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: 'salt' on, 'ss01' on;
  color: #111;
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none;
  font-size: 0;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
}

.logo span {
  display: inline-block;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  color: #616e7e;
  color: black;
  font-size: 35px;
}

.logo span:nth-child(even) {
  color: #111113;
  letter-spacing: -40px;
  font-size: 22px;
}

@media (any-hover: hover) {
  .logo:hover span:nth-child(even) {
    letter-spacing: 0px;
    font-size: 25px;
  }
}

nav {
  height: 100%;
  flex-grow: 100;
  user-select: none;
}

nav .header_container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
  height: inherit;
  padding-bottom: 16px;
}

nav .header_container .header_links {
  list-style: none;
  height: inherit;
}

nav .header_container .header_links .header_link {
  display: flex;
  align-items: center;
  height: inherit;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 160%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #111113;
  padding: 0 15px;
}

@media (any-hover: hover) {
  nav .header_container .header_links .header_link {
    transition: background-color .2s ease-in;
  }
  nav .header_container .header_links .header_link:hover {
    background-color: #f4f4f4;
  }
}

nav .header_login {
  display: none;
  position: relative;
  font-size: 11px;
  font-weight: 600;
  padding-left: 20px;
  color: #111113;
  font-family: 'Montserrat', sans-serif;
}

nav .header_login::after {
  content: url(../img/icons/User.svg);
  position: absolute;
  display: block;
  right: 20px;
}

.header_functional {
  height: 100%;
  display: flex;
}

.header_functional .header_icon {
  border-right: 1px solid rgba(17, 17, 19, 0.05);
  border-left: 1px solid rgba(17, 17, 19, 0.05);
  width: 82px;
  height: 100%;
  background: #fff url(../img/icons/favorite.svg) center no-repeat;
}

.header_functional .header_icon:nth-child(2) {
  background: #fff url(../img/icons/User.svg) center no-repeat;
}

.header_functional .header_icon:last-child {
  background: #fff url(../img/icons/basket.svg) center no-repeat;
}

.favorite {
  position: relative;
}

.notify {
  position: absolute;
  display: none;
  width: 14px;
  height: 14px;
  background-color: #C5C1B8;
  border-radius: 100%;
  top: 32%;
  right: 32%;
  font-size: 10px;
  color: #fff;
}

.notify.active {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  width: 82px;
  height: 100%;
  border-left: 1px solid rgba(17, 17, 19, 0.05);
  transition: all 0.4s ease;
  position: relative;
}

.wrap.active {
  padding-left: 20%;
  transition: all 0.5s ease;
}

.wrap .search {
  border: 0;
  background: transparent;
  width: 0;
  outline: none;
  font-size: 18px;
  color: #111;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.wrap .search.active {
  width: 60%;
  padding-left: 5px;
  left: 25px;
}

.wrap .header_search {
  background: url(../img/icons/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 82px;
  cursor: pointer;
}

input::placeholder {
  color: #111113a8;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1280px) {
  .logo {
    width: 150px;
    padding: 0 10px;
  }
  nav .header_container {
    gap: 5px;
  }
  nav .header_container .header_links .header_link {
    padding: 0 10px;
  }
  .header_functional .header_icon {
    width: 65px;
  }
  .wrap {
    width: 65px;
  }
  .wrap .header_search {
    width: 65px;
  }
}

@media (max-width: 990px) {
  .logo {
    z-index: 2;
    width: 17%;
  }
  .logo span {
    font-size: 25px;
  }
  .logo:hover span:nth-child(even) {
    font-size: 18px;
  }
  nav {
    width: 56%;
    transition: width 0.4s ease;
  }
  nav.active {
    width: 0%;
    overflow: hidden;
  }
  nav .header_container {
    gap: 0;
  }
  nav .header_container .header_links .header_link {
    padding: 0 7px;
  }
  .wrap {
    width: 7%;
  }
  .wrap .header_search {
    width: 100%;
  }
  .wrap.active {
    padding-left: 51%;
  }
  .wrap .search.active {
    width: 80%;
  }
  .header_functional {
    width: 23%;
  }
  .header_functional .header_icon {
    width: 33%;
  }
}

@media (max-width: 770px) {
  header {
    height: 50px;
    justify-content: flex-end;
  }
  .menu {
    display: contents;
    z-index: 1;
  }
  .menu label {
    display: block;
    height: 50px;
    width: 50px;
  }
  .logo {
    border-right: none;
    border-left: 1px solid rgba(17, 17, 19, 0.05);
    pointer-events: none;
    width: 50px;
  }
  .navigation {
    position: absolute;
    top: 51px;
    left: -100%;
    box-shadow: 2px 5px 5px 0px #11111130;
  }
  nav {
    transition: left .4s linear;
    display: block !important;
    z-index: 1;
  }
  nav .header_container {
    padding-top: 100px;
    height: 100px;
  }
  nav.table {
    position: absolute;
    background-color: #fff;
    position: absolute;
    top: 51px;
    bottom: 0;
    z-index: 1;
    width: 100%;
    left: 0;
    height: auto;
  }
  nav.table .header_container .header_links:hover {
    background-color: none;
  }
  .wrap {
    width: 12vw;
  }
  .wrap.active {
    padding-left: 27vw;
  }
  .wrap .header_search {
    width: 100%;
  }
  .wrap .search.active {
    width: 60%;
  }
  .header_functional {
    width: auto;
  }
  .header_functional .header_icon {
    width: 12vw;
  }
}

@media (max-width: 500px) {
  header {
    justify-content: space-between;
  }
  header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    height: auto;
  }
  header nav .header_container {
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 20px;
  }
  header nav .header_container .header_links {
    height: 41px;
    width: 100%;
  }
  header nav .header_container .header_links .header_link {
    position: relative;
    padding: 0;
  }
  header nav .header_container .header_links .header_link::after {
    content: url(../img/icons/arrow_right.svg);
    position: absolute;
    right: 5px;
  }
  header nav .header_login {
    display: flex;
    align-items: center;
    height: 50px;
    border-top: 1px solid rgba(17, 17, 19, 0.05);
    border-bottom: 1px solid rgba(17, 17, 19, 0.05);
  }
  header .wrap {
    margin-left: 50px;
    width: 50px;
  }
  header .wrap .header_search {
    width: 50px;
  }
  header .header_icon {
    border: none;
    width: 50px;
  }
  header .header_icon:nth-child(2) {
    display: none;
  }
  header.hidden .logo {
    display: none;
  }
  header.hidden .header_functional {
    display: none;
  }
  header.hidden .menu label {
    display: none;
  }
  header.hidden .wrap.active {
    margin-left: 0;
    padding-left: calc(100% - 51px);
  }
  header.hidden .wrap.active .search.active {
    width: 80%;
    padding-left: 0;
  }
}

.content {
  margin: 0 24px;
  margin-top: 30px;
  background-color: #dedede;
}

.content .content_block {
  padding-top: 126px;
  padding-left: 107px;
  padding-bottom: 172px;
  max-width: 431px;
}

.content .content_block .content_title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #111113;
}

.content .content_block .content_text {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.content .content_block .content_buttons {
  column-gap: 14px;
  display: flex;
}

.content .content_block .content_buttons .content_btn {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-feature-settings: 'salt' on, 'ss01' on;
  color: #FFFFFF;
  width: 165px;
  height: 56px;
  border: 1px solid #111;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease-in-out;
}

@media (max-width: 770px) {
  .content .content_block .content_buttons .content_btn {
    font-size: 12px;
  }
}

@media (any-hover: hover) {
  .content .content_block .content_buttons .content_btn:hover {
    opacity: .7;
  }
}

.content .content_block .content_buttons .content_btn.btn2 {
  background-color: transparent;
  color: #393939;
}

@media (max-width: 990px) {
  .content .content_block {
    max-width: 350px;
    padding-top: 80px;
    padding-left: 100px;
    padding-bottom: 140px;
  }
  .content .content_block .content_buttons .content_btn {
    width: 145px;
    height: 51px;
  }
  .content .content_block .content_title {
    font-size: 40px;
  }
  .content .content_block .content_text {
    margin-top: 16px;
    margin-bottom: 40px;
  }
}

@media (max-width: 770px) {
  .content .content_block {
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .content .content_block .content_title {
    font-size: 32px;
  }
  .content .content_block .content_buttons .content_btn {
    width: 123px;
    height: 45px;
  }
}

@media (max-width: 500px) {
  .contents .slick-dots {
    bottom: 0;
  }
  .content {
    display: flex !important;
    justify-content: center;
    margin: 20px;
    height: 85vh;
  }
  .content .content_block {
    padding: 20px;
    max-width: 260px;
  }
  .content .content_block .content_title {
    font-size: 26px;
    line-height: 32px;
  }
  .content .content_block .content_buttons .content_btn {
    width: 123px;
    height: 45px;
  }
  .content .content_block .content_text {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

/* Dots Слайдер*/
.slick-dots li {
  height: 2px;
  width: 40px;
  margin: 0 4px;
}

.slick-dots li button {
  height: 2px;
  width: 40px;
  padding: 0;
}

.slick-dots li button::before {
  display: block;
  height: 2px;
  width: 40px;
  content: '';
  background: #EAEAEB;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background: #393939;
}

.products_flex {
  display: flex;
  justify-content: center;
}

.products_flex .slick-dots {
  top: -60px;
  bottom: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.products_flex .slick-dots li {
  height: 25px;
  width: 73px;
  margin: 0;
  font-family: History;
  font-size: 14px;
}

.products_flex .slick-dots li button {
  width: 0;
  height: 0;
}

.products_flex .slick-dots li button::before {
  width: 0;
  height: 0;
}

.products_flex .slick-dots .slick-active::after {
  padding-bottom: 10px;
  border-bottom: 2px solid #111;
  transition: .3s ease-in-out;
}

.products_flex .slick-dots :nth-child(1)::after {
  content: "Протеин";
}

.products_flex .slick-dots :nth-child(2)::after {
  content: "Гейнер";
}

.products_flex .slick-dots :last-child::after {
  content: "Витамины";
}

.products_flex .products_flex_item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.product_title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: History Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase;
}

.product_link {
  display: block;
  position: relative;
  max-width: 352px;
  height: auto;
}

.product_price {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #929292;
}

.product_price.sale {
  color: #BD3735;
}

.product_price.sale::after {
  content: "69,00€";
  color: #929292;
  margin-left: 8px;
  text-decoration: none;
  display: inline-block;
  text-decoration: line-through;
}

.favorite_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #111;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  outline: none;
  color: #111113;
  border: 1px solid #111;
  transition: background  .2s ease-in-out, color .4s ease-in-out;
}

.favorite_btn svg {
  padding-top: 4px;
  stroke: currentColor;
}

.favorite_btn:hover {
  background-color: #111;
  color: #fff;
}

.favorite_btn:hover svg {
  fill: #fff;
}

.favorite_btn.active {
  background-color: #111;
}

.favorite_btn.active svg {
  fill: #fff;
}

.product_img {
  max-width: 392px;
  height: auto;
}

.product_img img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 15px;
}

.container .left {
  margin-bottom: 38px;
}

.title_products {
  text-align: center;
  font-family: History Pro;
  font-size: 36px;
  line-height: 52px;
  color: #000000;
  margin-top: 58px;
  margin-bottom: 96px;
}

.products_grid {
  margin: 90px 0;
  width: 100%;
  display: grid;
  grid-gap: 44px;
  grid-template-columns: repeat(3, 1fr);
}

.products_grid_item {
  grid-column: 3 span;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.products_grid_item .product_link {
  max-width: unset;
}

.banner {
  background-image: url(/img/sportik.jpg);
  background-size: cover;
  margin-top: 120px;
  height: 700px;
  background-position: center;
  position: relative;
}

.banner::before {
  content: "";
  background-color: #111;
  inset: 0 0;
  position: absolute;
  opacity: .3;
}

.banner .banner_absolute {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .banner_absolute .banner_title {
  max-width: 800px;
  text-align: center;
  font-family: History Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 44px;
}

.banner .banner_absolute .banner_link {
  text-align: center;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #0E0B0C;
  background-color: #fff;
  padding: 20px 37px;
  transition: .2s ease-in-out;
}

.banner .banner_absolute .banner_link:hover {
  color: #fff;
  background-color: #0E0B0C;
}

@media (max-width: 1280px) {
  .title_products {
    font-size: 30px;
    line-height: 42px;
    margin-top: 30px;
  }
  .products_flex .product .product_title {
    margin-top: 16px;
    font-size: 18px;
  }
  .notify {
    right: 26%;
  }
}

@media (max-width: 990px) {
  .product .favorite_btn {
    top: 8px;
    right: 8px;
  }
  .banner {
    margin-top: 75px;
    height: 500px;
  }
  .banner .banner_absolute {
    top: 30%;
  }
}

@media (max-width: 770px) {
  .title_products {
    font-size: 18px;
    line-height: 25px;
    margin-top: 44px;
  }
  .product_title {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
  }
  .products_flex .product .product_title {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
  }
  .container .left {
    margin-bottom: 22px;
    margin-top: 12px;
  }
  .products_flex.slick-dotted.slick-slider {
    margin-bottom: 16px;
  }
  .product .favorite_btn {
    width: 26px;
    height: 26px;
  }
  .product .favorite_btn svg {
    width: 14px;
    height: 12px;
  }
  .products_flex .product .product_price {
    font-size: 12px;
  }
  .product_price {
    font-size: 12px;
  }
  .title_products {
    margin-bottom: 78px;
  }
  .products_flex .slick-dots li {
    font-size: 12px;
  }
  .banner .banner_absolute .banner_link {
    padding: 14px 28px;
  }
  .banner .banner_absolute .banner_title {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .notify {
    right: 27%;
    top: 20%;
  }
}

@media (max-width: 500px) {
  .products_grid {
    margin: 20px 0;
  }
  .products_grid_item {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    max-width: 100%;
  }
  .products_flex_item .product:last-child {
    display: none;
  }
  .banner {
    height: 400px;
    background-position: right;
  }
  .products_flex .slick-dots .slick-active::after {
    padding-bottom: 3px;
  }
  .title_products {
    margin-bottom: 45px;
  }
  .products_flex .slick-dots {
    top: -30px;
  }
  .notify {
    right: 19%;
    top: 22%;
    width: 11px;
    height: 11px;
    font-size: 8px;
  }
}

.clips {
  display: none;
}

.gifts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 40px;
}

.gifts .gift_item {
  display: flex;
  align-items: flex-start;
}

.gifts .gift_item .gift_img {
  margin-right: 35px;
}

.gifts .gift_item .gift_cop {
  font-family: Apercu Pro;
  font-style: normal;
  font-feature-settings: 'salt' on, 'ss01' on;
  color: #111113;
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.01em;
}

.gifts .gift_item .gift_cop .gift_title {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.gifts .gift_item .gift_cop .gift_text {
  font-weight: normal;
  color: #666666;
  margin-top: 8px;
  margin-bottom: 2px;
}

.gifts .gift_item .gift_cop .gift_link {
  color: #111113;
}

@media (max-width: 770px) {
  .gifts {
    flex-direction: column;
    row-gap: 40px;
    margin-top: 70px;
  }
}

@media (max-width: 500px) {
  .gifts .gift_item .gift_img {
    margin-right: 25px;
  }
  .gifts .gift_item .gift_cop .gift_title {
    font-size: 13px;
  }
  .gifts .gift_item .gift_cop .gift_text {
    margin-top: 5px;
    font-size: 12px;
  }
}

.f_container {
  margin: 0 auto;
  width: 85%;
}

.footer_line {
  width: 100%;
  border: 1px solid #F2F2F2;
  margin-top: 35px;
  margin-bottom: 15px;
}

.footer_top {
  display: flex;
  margin-top: 50px;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_top .logo {
  z-index: unset;
  width: auto;
  pointer-events: none;
  border: none;
  margin: auto;
}

.footer_top .footer_log {
  margin-right: 100px;
}

.footer_top .footer_contents {
  display: flex;
  flex: 1 1 0;
  justify-content: space-evenly;
}

.footer_top .footer_list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer_top .footer_title {
  font-family: History;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 160%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #111113;
  cursor: pointer;
}

.footer_top .footer_type {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  transition: .3s linear;
  color: #666666;
}

.footer_top .footer_type:hover {
  border-bottom: 1px solid #111113;
}

.footer_top .footer_search {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  flex: 1 1 0;
}

.footer_top .footer_search form {
  position: relative;
}

.footer_top .footer_search form::before {
  content: url(/img/icons/arrow.svg);
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.footer_top .footer_input {
  height: 56px;
  width: calc(100% - 14px);
  margin: 16px 0;
  border: 1px solid #E8E8E8;
  padding-left: 16px;
}

.footer_top .footer_input::placeholder {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #B2B2B2;
}

.footer_top .footer_politicy {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}

.footer_top .footer_politicy span {
  text-decoration: underline;
  color: #A49E90;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_bottom .footer_text {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  color: #999999;
}

.footer_bottom .footer_tight_boot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 360px;
}

@media (max-width: 990px) {
  .f_container {
    max-width: 95%;
  }
  .footer_top .footer_type {
    font-size: 12px;
  }
}

@media (max-width: 770px) {
  .footer_top {
    flex-direction: column;
    row-gap: 20px;
  }
  .footer_top .footer_contents {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }
  .footer_top .footer_contents .footer_list.active {
    padding-bottom: 12px;
    border-bottom: 1px solid transparent;
  }
  .footer_top .footer_contents .footer_list.active .footer_title {
    border-bottom: 1px solid transparent;
  }
  .footer_top .footer_contents .footer_list.active .footer_title::after {
    transform: rotate(270deg);
  }
  .footer_top .footer_contents .footer_title {
    position: relative;
    padding-bottom: 12px;
    border-bottom: 1px solid #F2F2F2;
  }
  .footer_top .footer_contents .footer_title::after {
    content: url(/img/icons/arrow_right.svg);
    display: block;
    transform: rotate(90deg);
    position: absolute;
    right: 0px;
    top: 0;
  }
  .footer_top .footer_contents .accordion {
    display: none;
  }
  .footer_bottom {
    position: relative;
    gap: 40px;
  }
  .footer_bottom .footer_social {
    display: flex;
    flex-direction: row;
  }
  .footer_line {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 12px;
  }
}

@media (max-width: 500px) {
  .footer_bottom {
    gap: unset;
  }
  .footer_bottom .footer_social {
    position: absolute;
    left: 0;
    top: 32px;
    padding-bottom: 16px;
  }
  .footer_bottom .footer_tight_boot {
    justify-content: space-around;
    gap: unset;
  }
}

.cart_content {
  margin-top: 50px;
}

.cart {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
}

.my_cart {
  flex-grow: 1;
}

.my_cart .product {
  display: block;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 20px;
}

.my_cart .product:last-child {
  border: 0;
}

.my_cart .product_row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my_cart .product_link {
  display: flex;
  max-width: unset;
  padding-bottom: 20px;
}

.my_cart .product_link .product_img {
  margin-right: 24px;
}

.my_cart .product_link .product_img img {
  height: 104px;
  width: 104px;
}

.my_cart .product_link .product_price {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #000000;
}

.my_cart .product_link .product_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_cart .product_link .product_flex .favorite_btn {
  display: none;
}

.my_cart .product_link .product_flex .product_title {
  margin: 0;
}

.my_cart .product_link .functional_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_cart .product_link .functional_panel span {
  margin: 0 15px;
}

.my_cart .product_link .func {
  width: 36px;
  height: 36px;
  border: none;
  background-color: #EFEEEF;
  cursor: pointer;
}

.my_cart .product_link .remove {
  background: none;
  border: none;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #B3B3B3;
  cursor: pointer;
}

.order_title {
  margin-bottom: 32px;
}

.cart_order {
  width: 22%;
}

.subtitle_row {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid #E5E5E5;
  margin-bottom: 16px;
}

.Buy {
  height: 56px;
  border: 1px solid transparent;
  background-color: #000000;
  color: #fff;
  width: 100%;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.Buy:hover {
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
}

.Buy.active {
  opacity: .8;
}

.order-modal {
  padding: 40px;
  width: 592px;
  min-height: 542px;
}

.order-modal__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-modal__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-accent);
}

.order-modal__number {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: var(--color-light);
}

.order-modal__info {
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 34px 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-light);
}

.order-modal__info span {
  font-weight: 600;
}

.order-modal__info-item:not(:last-child) {
  margin-bottom: 15px;
}

.order-modal__btn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-light);
}

.order-modal__btn::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 8px;
  height: 8px;
  background-image: url("../img/icons/arrow_right.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.order-modal__btn.open::after {
  transform: translateY(-50%) rotate(270deg);
}

.order {
  padding: 0 40px;
}

.order .btn {
  border: none;
  padding: 14px 0;
  border-radius: 4px;
  width: 100%;
  color: #fff;
  background-color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.order__label {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-light);
}

.order__input {
  padding-left: 14px;
  padding-right: 14px;
  width: 240px;
  height: 45px;
  background: #efefef;
  border-radius: 4px;
  border: none;
}

.order__input::placeholder {
  color: #b1b1b1;
}

.order-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-modal__list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.order-product__img {
  max-width: 60px;
  max-height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.order-modal__list {
  display: none;
}

.order-modal__item:not(:last-child) {
  margin-bottom: 14px;
}

.order-product__text {
  margin-right: 10px;
}

.order-product__title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-dark);
}

.order-product__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-dark);
}

.order-product__delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: var(--color-light);
}

.suda {
  overflow-anchor: none;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 990px) {
  .product_title {
    font-size: 18px;
  }
  .order_title {
    font-size: 20px;
  }
  .cart {
    column-gap: 60px;
  }
  .cart_order {
    width: 25%;
  }
}

@media (max-width: 770px) {
  .cart {
    flex-direction: column;
  }
  .cart_order {
    width: 100%;
  }
  .cart_order .order_title {
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
  }
  .cart_order .subtitle_row {
    justify-content: center;
  }
  .product_title {
    font-size: 16px;
  }
}

@media (max-width: 770px) and (any-hover: hover) {
  .Buy {
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
  }
}

@media (max-width: 770px) {
  .modal__container {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .modal__container {
    width: calc(100% - 40px);
    margin: 0 !important;
  }
  .modal::before {
    height: auto !important;
  }
  .order__label {
    flex-direction: column;
    gap: 10px;
  }
  .container {
    padding: 0 15px;
  }
  .product_title {
    font-size: 12px;
  }
  .number {
    font-size: 12px;
  }
  .my_cart .product_link .functional_panel span {
    margin: 0 5px;
  }
  .my_cart .product_link .func {
    width: 30px;
    height: 30px;
  }
  .subtitle_row {
    padding-top: 14px;
    margin-bottom: 14px;
  }
  .cart_title {
    font-size: 14px;
  }
  .cart_order .order_title {
    margin-bottom: 14px;
  }
  .my_cart .product_link .product_img {
    margin-right: 14px;
  }
  .f_last {
    margin-bottom: 4px;
  }
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 0 100px;
  background-color: black;
}

.about_text {
  text-align: center;
  font-size: 25px;
  user-select: none;
  color: #fff;
  padding: 24px;
}

.about_text span {
  display: inline-block;
  cursor: pointer;
}

.about_text span.active {
  opacity: 0;
  filter: blur(20px);
  transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  transition: 1s linear;
}

.btn_return {
  font-size: 16px;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid #fff;
  transition: .4s ease-in-out;
}

.btn_return:hover {
  background-color: #fff;
  color: black;
}

.wrapper_logo {
  font-size: 0;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
}

.wrapper_logo span {
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s ease-out;
  color: #616e7e;
  color: #fff;
  font-size: 44px;
}

.wrapper_logo span:nth-child(even) {
  color: #81bfaa;
  letter-spacing: -40px;
  font-size: 34px;
}

.wrapper_logo:hover span:nth-child(even) {
  letter-spacing: 0px;
  font-size: 34px;
}

.btn_back {
  color: #616e7e;
  margin-top: 26px;
}

@media (max-width: 900px) {
  .wrapper {
    padding: 0 5%;
  }
  .about_text {
    font-size: 16px;
    line-height: 1.4;
  }
  .wrapper_logo span {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .about_text {
    text-align: left;
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */