* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid rgba(17, 17, 19, 0.05);
  box-shadow: 2px 4px 7px 0px #0000001a;
}

.menu {
  display: none;
}

.menu input {
  display: none;
}

.menu label {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 50vw;
  height: 50vw;
  max-width: 75px;
  max-height: 75px;
  left: 0;
  top: 0;
}

.menu .line--1,
.menu .line--3 {
  --total-length: 126.38166809082031;
}

.menu .line--2 {
  --total-length: 80;
}

.menu input:checked + svg .line--1,
.menu input:checked + svg .line--3 {
  --offset: -109.1770175568;
}

.menu circle {
  fill: #fff3;
  opacity: 0;
  transition: .1s linear;
}

.menu label:hover circle {
  opacity: 1;
}

.menu input:checked + svg .line--1,
.menu input:checked + svg .line--3 {
  --length: 8.602325267;
}

.menu .debug {
  display: none;
}

.menu path {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu .cross input:checked + svg .line--1,
.menu .cross input:checked + svg .line--3 {
  --length: 22.627416998;
}

.menu .cross input:checked + svg .line--2 {
  --length: 0;
}

.menu .cross input:checked + svg .line--1,
.menu .cross input:checked + svg .line--3 {
  --length: 22.627416998;
}

.menu .cross input:checked + svg .line--2 {
  --length: 0;
}

.logo {
  padding: 0 15px;
  width: 210px;
  border-right: 1px solid rgba(17, 17, 19, 0.05);
  background-color: #fff;
  height: 100%;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: 'salt' on, 'ss01' on;
  color: #111;
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none;
  font-size: 0;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
}

.logo span {
  display: inline-block;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  color: #616e7e;
  color: black;
  font-size: 35px;
}

.logo span:nth-child(even) {
  color: #111113;
  letter-spacing: -40px;
  font-size: 22px;
}

@media (any-hover: hover) {
  .logo:hover span:nth-child(even) {
    letter-spacing: 0px;
    font-size: 25px;
  }
}

nav {
  height: 100%;
  flex-grow: 100;
  user-select: none;
}

nav .header_container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
  height: inherit;
  padding-bottom: 16px;
}

nav .header_container .header_links {
  list-style: none;
  height: inherit;
}

nav .header_container .header_links .header_link {
  display: flex;
  align-items: center;
  height: inherit;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 160%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #111113;
  padding: 0 15px;
}

@media (any-hover: hover) {
  nav .header_container .header_links .header_link {
    transition: background-color .2s ease-in;
  }
  nav .header_container .header_links .header_link:hover {
    background-color: #f4f4f4;
  }
}

nav .header_login {
  display: none;
  position: relative;
  font-size: 11px;
  font-weight: 600;
  padding-left: 20px;
  color: #111113;
  font-family: 'Montserrat', sans-serif;
}

nav .header_login::after {
  content: url(../img/icons/User.svg);
  position: absolute;
  display: block;
  right: 20px;
}

.header_functional {
  height: 100%;
  display: flex;
}

.header_functional .header_icon {
  border-right: 1px solid rgba(17, 17, 19, 0.05);
  border-left: 1px solid rgba(17, 17, 19, 0.05);
  width: 82px;
  height: 100%;
  background: #fff url(../img/icons/favorite.svg) center no-repeat;
}

.header_functional .header_icon:nth-child(2) {
  background: #fff url(../img/icons/User.svg) center no-repeat;
}

.header_functional .header_icon:last-child {
  background: #fff url(../img/icons/basket.svg) center no-repeat;
}

.wrap {
  width: 82px;
  height: 100%;
  border-left: 1px solid rgba(17, 17, 19, 0.05);
  transition: all 0.4s ease;
  position: relative;
}

.wrap.active {
  padding-left: 150px;
  transition: all 0.5s ease;
}

.wrap .search {
  border: 0;
  background: transparent;
  width: 0;
  outline: none;
  font-size: 18px;
  color: #111;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.wrap .search.active {
  width: 60%;
  padding-left: 5px;
  left: 25px;
}

.wrap .header_search {
  background: url(../img/icons/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 82px;
  cursor: pointer;
}

input::placeholder {
  color: #111113a8;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1280px) {
  .logo {
    width: 150px;
    padding: 0 10px;
  }
  nav .header_container {
    gap: 5px;
  }
  nav .header_container .header_links .header_link {
    padding: 0 10px;
  }
  .header_functional .header_icon {
    width: 65px;
  }
  .wrap {
    width: 65px;
  }
  .wrap .header_search {
    width: 65px;
  }
}

@media (max-width: 990px) {
  .logo {
    z-index: 2;
    width: 17%;
  }
  .logo span {
    font-size: 25px;
  }
  .logo:hover span:nth-child(even) {
    font-size: 18px;
  }
  nav {
    width: 56%;
    transition: width 0.4s ease;
  }
  nav.active {
    width: 0%;
    overflow: hidden;
  }
  nav .header_container {
    gap: 0;
  }
  nav .header_container .header_links .header_link {
    padding: 0 7px;
  }
  .wrap {
    width: 7%;
  }
  .wrap .header_search {
    width: 100%;
  }
  .wrap.active {
    padding-left: 51%;
  }
  .wrap .search.active {
    width: 80%;
  }
  .header_functional {
    width: 23%;
  }
  .header_functional .header_icon {
    width: 33%;
  }
}

@media (max-width: 770px) {
  header {
    height: 50px;
    justify-content: flex-end;
  }
  .menu {
    display: contents;
    z-index: 1;
  }
  .menu label {
    display: block;
    height: 50px;
    width: 50px;
  }
  .logo {
    border-right: none;
    border-left: 1px solid rgba(17, 17, 19, 0.05);
    pointer-events: none;
    width: 50px;
  }
  .navigation {
    position: absolute;
    top: 51px;
    left: -100%;
    box-shadow: 2px 5px 5px 0px #11111130;
  }
  nav {
    transition: left .4s ease-out;
    display: block !important;
  }
  nav .header_container {
    padding-top: 100px;
    height: 100px;
  }
  nav.table {
    position: absolute;
    background-color: #fff;
    position: absolute;
    top: 51px;
    bottom: 0;
    z-index: -1;
    width: 100%;
    left: 0;
    height: auto;
  }
  nav.table .header_container .header_links:hover {
    background-color: none;
  }
  .wrap {
    width: 12vw;
  }
  .wrap.active {
    padding-left: 27vw;
  }
  .wrap .header_search {
    width: 100%;
  }
  .wrap .search.active {
    width: 60%;
  }
  .header_functional {
    width: auto;
  }
  .header_functional .header_icon {
    width: 12vw;
  }
}

@media (max-width: 500px) {
  header {
    justify-content: space-between;
  }
  header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    height: auto;
  }
  header nav .header_container {
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 20px;
  }
  header nav .header_container .header_links {
    height: 41px;
    width: 100%;
  }
  header nav .header_container .header_links .header_link {
    position: relative;
    padding: 0;
  }
  header nav .header_container .header_links .header_link::after {
    content: url(../img/icons/arrow_right.svg);
    position: absolute;
    right: 5px;
  }
  header nav .header_login {
    display: flex;
    align-items: center;
    height: 50px;
    border-top: 1px solid rgba(17, 17, 19, 0.05);
    border-bottom: 1px solid rgba(17, 17, 19, 0.05);
  }
  header .wrap {
    margin-left: 50px;
    width: 50px;
  }
  header .wrap .header_search {
    width: 50px;
  }
  header .header_functional .header_icon {
    border: none;
    width: 50px;
  }
  header .header_functional .header_icon:nth-child(2) {
    display: none;
  }
  header.hidden .logo {
    display: none;
  }
  header.hidden .header_functional {
    display: none;
  }
  header.hidden .menu label {
    display: none;
  }
  header.hidden .wrap.active {
    margin-left: 0;
    padding-left: calc(100% - 51px);
  }
  header.hidden .wrap.active .search.active {
    width: 80%;
    padding-left: 0;
  }
  .wrap.active .joi {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */