.content {
    margin: 0 24px;
    margin-top: 30px;
    background-color: #dedede;
    // Блок с информацией
    .content_block {
        padding-top: 126px;
        padding-left: 107px;
        padding-bottom: 172px;
        max-width: 431px;
        // height: 350px;    
        .content_title {
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 64px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            color: #111113;
        }
        .content_text {
            font-family: Apercu Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            margin-top: 24px;
            margin-bottom: 48px;
        }
        // Кноппки
        .content_buttons {
            column-gap: 14px;
            display: flex;
            .content_btn {
                font-family: Apercu Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.01em;
                font-feature-settings: 'salt' on, 'ss01' on;  
                color: #FFFFFF;
                width: 165px;
                height: 56px;
                border: 1px solid #111;
                background-color: #111;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: opacity .2s ease-in-out;
                @media (max-width:770px){
                    font-size: 12px;
                }
                &:hover{
                    @media (any-hover: hover){
                        opacity: .7;
                    }
                }
                // Кнопка модификатор
                &.btn2 {
                    background-color: transparent;
                    color: #393939;
                }
            }
        }
    }    
}

@media (max-width:990px){
    .content{
        .content_block{
            max-width: 350px;
            padding-top: 80px;
            padding-left: 100px;
            padding-bottom: 140px;
            .content_buttons{
                .content_btn{
                    width: 145px;
                    height: 51px;
                }
            }
            .content_title {
                font-size: 40px;
            }
            .content_text{
                margin-top: 16px;
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width:770px){
    .content{
        .content_block{
            padding-left: 50px ;
            padding-top: 60px ;
            padding-bottom: 90px ;
            .content_title{
                font-size: 32px;
            }
            .content_buttons{
                .content_btn{
                    width: 123px;
                    height: 45px;
                }
            }          
        }   
    }
}

@media (max-width:500px){
    .content{
        display: flex;
        // align-items: center;
        justify-content: center;
        margin: 20px;
        height: 85vh;
        .content_block{
            padding: 20px 0 ;
            max-width: 260px;
            .content_title{
                font-size: 26px;
                line-height: 32px;
            }
            .content_buttons{
                .content_btn{
                    width: 123px;
                    height: 45px;
                }
            }        
            .content_text{
                margin-top: 8px;
                margin-bottom: 16px;
            }  
        }   
    }
}
/* Dots Слайдер*/
.slick-dots li{
    height: 2px;
    width: 40px;
    margin: 0 4px;
    button{
        height: 2px;
        width: 40px;
        padding: 0;
        &::before{
            display: block;
            height: 2px;
            width: 40px;
            content: '';
            background:#EAEAEB ;
            opacity: 1 ;
        }
    }
    &.slick-active button:before{
        opacity: 1 ;
        background: #393939;
    }
}





