*{
    margin: 0;
    padding: 0;
}
body{
  overflow-x: hidden;
}
a{
    text-decoration: none;
}
// Шапка
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid rgba(17, 17, 19,0.05);
    box-shadow: 2px 4px 7px 0px #0000001a;
}
// Бургер
.menu{
    display: none;
    input {
        display: none;
    }
    label {
        display: none;
        cursor: pointer;
        position: absolute;
        width: 50vw;
        height: 50vw;
        max-width: 75px;
        max-height: 75px;
        left: 0;
        top: 0;
    }
    .line--1,
    .line--3 {
        --total-length: 126.38166809082031;
    }
    .line--2 {
        --total-length: 80;
    }
    input:checked+svg {
        .line--1,
        .line--3 {
        --offset: -109.1770175568;
        }
    }
    circle {
        fill: #fff3;
        opacity: 0;
        transition: .1s linear;
    } 
    label:hover circle {
        opacity: 1;
    }
    input:checked+svg {
        .line--1,
        .line--3 {
          --length: 8.602325267;
        }
    }
    .debug {
        display: none;
    }
    path {
        fill: none;
        stroke: #000000;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        --length: 24;
        --offset: -38;
        stroke-dasharray: var(--length) var(--total-length);
        stroke-dashoffset: var(--offset);
        transition: all .8s cubic-bezier(.645, .045, .355, 1);
    }
    .cross input:checked+svg {
        .line--1,
        .line--3 {
          --length: 22.627416998;
        }
        .line--2 {
          --length: 0;
        }
    }
    .cross input:checked+svg {
        .line--1,
        .line--3 {
          --length: 22.627416998;
        }
        .line--2 {
          --length: 0;
        }
    }
}
// Логотип
.logo {
    padding: 0 15px;
    width: 210px;
    border-right: 1px solid rgba(17, 17, 19,0.05);
    background-color: #fff;
    height: 100%;    
    font-family: Apercu Pro;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: 'salt' on, 'ss01' on;
    color: #111;
    align-items: center;
    display: flex;
    justify-content: center;
    user-select: none;
    font-size: 0;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
    span{
        display: inline-block;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        color: #616e7e;
        color: rgb(0, 0, 0);
        font-size: 35px;
        &:nth-child(even){
            color: #111113;
            letter-spacing: -40px;
            font-size: 22px; 
        } 
    }
    &:hover span:nth-child(even){
        @media (any-hover: hover){
            letter-spacing: 0px;
            font-size: 25px; 
        }
    
    } 
}
// Навигационная панель
nav{
   height: 100%;
//    width: 100%;
   flex-grow:100;
   user-select: none;
   .header_container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
    height: inherit;
    padding-bottom: 16px;
        
        .header_links {
            list-style: none;
            height: inherit;      
            // Меню в навигации
            .header_link {
                display: flex;
                align-items: center;
                height: inherit;
                // font-family:  History Pro;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                font-size: 11px;
                line-height: 160%;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: #111113;
                padding: 0 15px;
            }          
            @media (any-hover: hover){
                .header_link{
                    transition:  background-color .2s ease-in ;
                    &:hover{
                        background-color: #f4f4f4;
                    }
                }
            }      
        }
    }
    //Логин для бургера
    .header_login{
        display: none;
        position: relative;
        font-size: 11px;
        font-weight: 600;
        padding-left: 20px;
        color: #111113;
        font-family: 'Montserrat', sans-serif;
        &::after{
            content: url(../img/icons/User.svg);
            position: absolute;
            display: block;
            right: 20px;
            
        }
    }
}
// Эффект работает только на декстопах

//Функциональная панель с навигацией
.header_functional{
    height: 100%;
    display: flex;
    // flex: 0 1 335px;
    .header_icon{
        border-right: 1px solid rgba(17, 17, 19,0.05);
        border-left: 1px solid rgba(17, 17, 19,0.05);
        width: 82px;
        height: 100%;
        background: #fff url(../img/icons/favorite.svg) center no-repeat ;     
        &:nth-child(2){
            background: #fff url(../img/icons/User.svg) center no-repeat ;  
        }
        &:last-child{
            background: #fff url(../img/icons/basket.svg) center no-repeat ;
        }
    }
}
// Кнопка Поиска
.wrap{
    width: 82px;
    height: 100%;
    border-left: 1px solid rgba(17, 17, 19,0.05);
    transition: all 0.4s ease;
    position: relative; 
    &.active{
        padding-left: 150px;
        transition: all 0.5s ease;
    }
    .search{
        border: 0;
        background: transparent;
        width: 0;
        outline: none;
        font-size: 18px;
        color: #111;
        transition: all 0.3s ease;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 25px;
        &.active{
            width: 60%;
            padding-left: 5px;
            left: 25px;
        }
    }
    .header_search{
        background: url(../img/icons/search.svg);
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: 100%;
        width: 82px;
        // position: absolute;
        // top: 0;
        // color: #111;
        // font-size: 22px;
        cursor: pointer;
    }
}


input::placeholder {
    color:  #111113a8;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
@media (max-width:1280px){
    .logo{
        width: 150px;
        padding: 0 10px;
    }
    nav{
        .header_container{
            gap: 5px;
            .header_links{
                .header_link{
                padding: 0 10px;
                }
            }
        }
    }
    .header_functional{
        // flex: 0 1 262px;
        .header_icon{
            width: 65px;
        }
    } 
    .wrap{
        width: 65px;
        .header_search{
            width: 65px;
        }
    }
}
@media (max-width:990px){
    .logo {
        z-index: 2;
        width: 17%;
        span{
            font-size: 25px;
        }
        &:hover span:nth-child(even){
            font-size: 18px; 
        } 
    } 
    nav{
        width: 56%;
        transition: width 0.4s ease;
        &.active{
            // display: none;
            width: 0%;
            overflow: hidden;
        }
        .header_container{
            gap: 0;
            .header_links{
                .header_link{
                    padding: 0 7px;
                }
            }
        }
    }
    .wrap{
        width: 7%;
        .header_search{
            width: 100%;
            // margin: 0 auto;
        }
        &.active{
            // padding-left: 300px;
            padding-left: 51%;
            
        }
        .search{
            &.active{
                width: 80%;
            }
        }
    }
    .header_functional{
        width: 23%;
        .header_icon{
            width: 33%;
        }
    }
}

@media (max-width:770px){
    header{
        height: 50px;
        justify-content: flex-end;
    }
    .menu{
        display: contents;
        z-index: 1;
        label{
            display: block;
            height: 50px;
            width: 50px;
        }
    }
    .logo{
        border-right: none;
        border-left: 1px solid rgba(17, 17, 19, 0.05);
        pointer-events:none ;  
        width: 50px;
    }
    .navigation{
        position: absolute;
        top: 51px;
        left: -100%;
        box-shadow: 2px 5px 5px 0px #11111130;
    }
    nav{     
        transition: left .4s ease-out;
        display: block !important;
        .header_container{
            padding-top: 100px;
            height: 100px;
        }
        &.table{
            position: absolute;         
            background-color:#fff;
            position: absolute;
            top: 51px;
            bottom: 0;
            z-index: -1;
            width: 100%;
            left: 0;
            height: auto;
            body{
                // overflow-y: hidden;
            }
            .header_container{               
                .header_links:hover{
                    background-color: none;
                }
            }
        }
    }
    .wrap{
        
        width: 12vw;
        &.active {
            padding-left: 27vw;
        }
        .header_search{
            width: 100%;
        }
        .search{
            &.active{
                width: 60%;
            }
        }
    }
    .header_functional{
        // flex: 0 1 auto;
        width: auto;
        .header_icon{
            width: 12vw;
        }
    }
}
@media (max-width:500px){
    header{
        justify-content: space-between;
        .logo{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            height: auto;
        }
        nav {
            .header_container{
                height: auto;
                padding-top: 20px;
                padding-left: 20px;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding-right: 20px;
                // row-gap: 24px;
                .header_links{
                    height: 41px;
                    width:100%;
                    .header_link{
                        position: relative;
                        padding: 0;
                        &::after{
                            content: url(../img/icons/arrow_right.svg);
                            // display: block;
                            position: absolute;
                            right: 5px;
                        }
                    }
                }
               
            }
            .header_login{
                display: flex;
                align-items: center;
                height: 50px;
                border-top: 1px solid rgba(17, 17, 19,0.05);
                border-bottom: 1px solid rgba(17, 17, 19,0.05);;
            }
        }
        .wrap {
            margin-left: 50px;
            // border: none;
            width: 50px;
            // &.active{
            //     .header_functional{
            //         display: none;
            //     }
            //     .logo{
            //         display: none;
            //     }
            // }
            .header_search{
                width: 50px;
            }
        }
        .header_functional {
            
            .header_icon{
                border: none;
                width: 50px;
                &:nth-child(2){
                    display: none;
                }
            }         
        }
        &.hidden{
            .logo{
                display: none;
            }
            .header_functional{
                display: none;
            }
            .menu label{
                display: none;
            }
            .wrap.active{
                margin-left: 0;
                padding-left: calc(100% - 51px);
                .search.active{
                    width: 80%;
                    padding-left: 0;
                }
            }
        }
    }
   
    .wrap.active .joi{
        display: none;
    }
    // .wrap.header_functional{
    //     display: none;
    // }
    
    .header_functional.active {
        // display: none;
        // background-color: aqua;
        // width: 0%;
        // overflow: hidden;
         
    }
    // header.hidden .logo {
    //     display: none;     
        
    // }
    // header.hidden .header_functional .menu label {
    //     display: none;     
    // }
}

// @import url(_mobile_first.scss);    padding-left: calc(86% - 50px);
  